@import "./fonts.css";

/* Admin panel */
@import "./admin/header--admin.css";
@import "./admin/aside--admin.css";
@import "./admin/history--admin.css";
@import "./admin/table--admin.css";

@import "./phoneNumber.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    body {
        @apply bg-[#F7F8FC] dark:bg-[#0E0E10];
        transition: all 0.7s ease-out;
    }

    .main {
        min-height: calc(100vh - 80px);
    }

    svg {
        display: inline;
    }

    .primary-font {
        @apply font-primaryFont;
    }

    .second-font {
        @apply font-secondFont;
    }

    .logo-font {
        @apply font-logoFont;
    }

    .text-shadow {
        text-shadow: 7px 7px 7px black;
    }

    .text-shadow--light {
        text-shadow: 3px 3px 3px black;
    }

    .extra-font-size {
        font-size: 350px;
    }

    .react-select__control {
        background-color: transparent !important;
        border: none !important;
        border-radius: 0 !important;
        border-bottom: 1px solid #66676e !important;
        box-shadow: none !important;
    }

    .react-select__control--menu-is-open {
        border-color: #e42c64 !important;
    }
}
